<div *ngIf="!testusers">
  Loading....
</div>
<table *ngIf="testusers" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of testusers">
      <td>{{t.id}}</td>
      <td>{{t.name}}</td>
      <td>{{t.address}}</td>
      <td>{{t.status}}</td>
    </tr>
  </tbody>
</table>
